<div class="ftco-blocks-cover-1">
    <div class="site-section-cover half-bg">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8">
            <h1 class="mb-5 text-primary font-weight-bold"  data-aos="fade-up">Grow Up Your <span class="typed-words">Business</span>.</h1>
            <p data-aos="fade-up" data-aos-delay="100"><a href="#" class="more-29291">View Our Services</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
          <div class="feature-92912">
            <span class="wrap-icon flaticon-debt"></span>
            <h2 class="heading">Financial Analysis</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed!</p>
  
            <p><a href="#" class="more-92913">View Our Services</a></p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="feature-92912 active">
            <span class="wrap-icon flaticon-growth"></span>
            <h2 class="heading">Marketing Plans</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed!</p>
            <p><a href="#" class="more-92913">View Our Services</a></p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="feature-92912">
            <span class="wrap-icon flaticon-business-plan"></span>
            <h2 class="heading">Optimize Solutions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed!</p>
            <p><a href="#" class="more-92913">View Our Services</a></p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="site-section bg-left-half mb-5">
    <div class="container block-13">
      
      <h2 class="text-primary mb-5 font-weight-bold">Our Solutions</h2>
      
  
      <div class="owl-carousel nonloop-block-13">
        <div class="media-29101">
          <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
        </div>
        <div class="media-29101">
          <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Beatae Doloribu</a></h3>
        </div>
        <div class="media-29101">
          <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Accusantium Eius Soluta</a></h3>
        </div>
        <div class="media-29101">
          <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
        </div>
        <div class="media-29101">
          <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Beatae Doloribu</a></h3>
        </div>
        <div class="media-29101">
          <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
          <h3><a href="#">Accusantium Eius Soluta</a></h3>
        </div>
      </div>
  
    </div>
  </div>