<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form #modifieEmployeForm="ngForm" (ngSubmit)="modifieremployer()">

            <div class="form-group" >
              <input type="text" class="form-control" [(ngModel)]="modife.firstName" [ngModelOptions]="{standalone: true}" placeholder="FirstName">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="modife.lastName" [ngModelOptions]="{standalone: true}" placeholder="LastName">
            </div>
            <div class="form-group">
              <input type="email" class="form-control"  [(ngModel)]="modife.email" [ngModelOptions]="{standalone: true}" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control"  [(ngModel)]="modife.phone" [ngModelOptions]="{standalone: true}" placeholder="Phone">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  [(ngModel)]="modife.occupation" [ngModelOptions]="{standalone: true}" placeholder="Occupation">
              </div>
              <input type="submit" class="btn btn-primary py-3 px-5" value="Enregistrer">  
          </form>  
        </div>  
      </div>
    </div>
  </div>