<div class="site-section">
  <div class="container">
      <div class="row">
          <div class="col">
              <h2 class="text-primary mb-5 font-weight-bold">Offres d'emploi</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="post-entry-1 h-100">
                  <div class="post-entry-1-contents">
                      <span class="meta d-inline-block mb-3">July 17, 2023 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                      <h2>Développeur(se) Fullstack Java /Angular H/F</h2>
                      <p>Type de contrat : CDI</p>
                      <p>Localisation : Toulouse</p>
                      <p><strong>Tâches :</strong></p>
                      <ul>
                          <li>Concevoir et modéliser en UML</li>
                          <li>Participer à la conception et au développement de nouvelles évolutions</li>
                          <li>Assurer la maintenance corrective et évolutive des développements</li>
                          <li>Réaliser les tests unitaires et d'intégration ainsi que le déploiement</li>
                      </ul>
                      <p><strong>Profil Demandé :</strong></p>
                      <ul>
                          <li>Vous justifiez d'une expérience réussie sur le même type de poste</li>
                          <li>Vous maîtrisez le langage Java et Typescript /Angular</li>
                          <li>Vous connaissez des outils types Jira, GIT, Rest Web Services</li>
                          <li>Vous savez gérer des conflits de code</li>
                          <li>Une bonne maîtrise de l'anglais est un plus</li>
                      </ul>
                      <button class="btn btn-postuler" (click)="postuler()">Postuler</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="post-entry-1 h-100">
                  <div class="post-entry-1-contents">
                      <span class="meta d-inline-block mb-3">July 17, 2023 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                      <h2>Responsable Comptable</h2>
                      <p>Type de contrat : CDI</p>
                      <p>Localisation : Labège</p>
                      <p><strong>Tâches :</strong></p>
                      <ul>
                          <li>Superviser et coordonner les activités comptables de l'entreprise</li>
                          <li>Etablir les états financiers mensuels, trimestriels et annuels</li>
                          <li>Assurer le contrôle et la gestion des comptes clients et fournisseurs</li>
                          <li>Participer à l'élaboration du budget et suivre son exécution</li>
                          <li>Veiller à l'application des normes comptables et fiscales en vigueur</li>
                          <li>Assurer les déclaratifs fiscaux</li>
                      </ul>
                      <p><strong>Profil Demandé :</strong></p>
                      <ul>
                          <li>Vous êtes rigoureux(se), précis(e) et organisé(e) dans la gestion</li>
                          <li>Vous savez travailler en autonomie</li>
                          <li>Vous possédez de bonnes compétences en communication pour interagir avec les différents acteurs internes et externes à l'entreprise</li>
                          <li>Vous possédez une première expérience similaire à ce poste</li>
                          <li>La maîtrise des logiciels Cegid Quadratus et SILAE est un plus</li>
                      </ul>
                      <button class="btn btn-postuler" (click)="postuler()">Postuler</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

